# Basic Python project setup
# export VIRTUAL_ENV=.venv
# layout python

# Complex Python project setup with Conda. Conda is needed for projects with C++/Fortran dependencies.
# The only documentation is this code comment: (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L910C1-L924C2)
layout anaconda base

# Easily run project-local Go commands in bin (https://github.com/direnv/direnv/wiki/golang)
# layout go

# Note: JavaScript is not here because direnv docs recommend using npx instead of relying on modifying the PATH variable

# Easily run project-local Perl commands in .direnv/perl5/bin (https://github.com/direnv/direnv/wiki/Perl)
# layout perl

# Easily run project-local Ruby commands in .direnv/bin without bundle exec (https://github.com/direnv/direnv/wiki/Ruby)
# layout ruby
