# Adds "$PWD/.direnv/go" to the GOPATH environment variable. And also adds "$PWD/bin" to the PATH environment variable. (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L788-L798).
# layout go

# Sets the JULIA_PROJECT environment variable to the current directory. (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L1096-L1101).
# layout julia

# Adds "$PWD/node_modules/.bin" to the PATH environment variable. (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L800-L805).
# layout node

# Adds "$PWD/.direnv/perl5" and "$PWD/.direnv/perl5/bin" to the PATH environment variable. Also sets environment variables required by Perl's local::lib. (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L815-L829).
# layout perl

# Adds "$PWD/vendor/bin" to the PATH environment variable. (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L831-L836).
# layout php

# Creates and loads a virtualenv environment under "$PWD/.venv" (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L838-L892)
# export VIRTUAL_ENV=.venv
# layout python

# Similar to layout python but uses Pipenv to create a virtualenv environment using the Pipfile in the current directory. (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L1009-L1034).
# export PIPENV_PIPFILE=.venv
# layout pipenv

# Similar to layout python but uses Conda to create a Conda virtual environment named "base" under "/opt/homebrew/Caskroom/miniconda". (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L910-L1007).
# layout anaconda base

# Uv support isn't built-in yet
# layout_uv() {
# 	if [[ -d ".venv" ]]; then
# 		VIRTUAL_ENV="$(pwd)/.venv"
# 	fi

# 	if [[ -z $VIRTUAL_ENV || ! -d $VIRTUAL_ENV ]]; then
# 		if [[ ! -f "pyproject.toml" ]]; then
# 			log_status "No uv project exists. Executing \`uv init\` to create one."
# 			uv init --no-readme
# 			rm main.py
# 			uv venv
# 		else
# 			uv sync
# 		fi
# 		VIRTUAL_ENV="$(pwd)/.venv"
# 	fi

# 	if [ -d ".venv/bin" ]; then
# 		PATH_add .venv/bin
# 	elif [ -d ".venv/Scripts" ]; then
# 		PATH_add .venv/Scripts
# 	fi
# 	export UV_ACTIVE=1 # or VENV_ACTIVE=1
# 	export VIRTUAL_ENV
# }
# layout uv

# Sets the GEM_HOME environment variable to "$PWD/.direnv/ruby/RUBY_VERSION". (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L1071-L1094).
# layout ruby

# Loads environment variables from nix-shell and installs cowsay using the Nix package manager. (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L1292-L1304).
# use nix -p cowsay

# Load the build environment of a derivation, similar to nix develop. I have no clue what that means. (https://github.com/direnv/direnv/blob/68978efd9e0051bf9c4db10ac0e50afe0b3e7823/stdlib.sh#L1306-L1322).
# use flake nixpkgs#hello
