[core]
	excludesfile = /Users/steph/.gitignore

[credential "https://github.com"]
	helper = !gh auth git-credential

[credential "https://gitlab.com"]
	helper = !glab auth git-credential

[github]
	user = stephenamills

[init]
	defaultBranch = main

[user]
	name = stephenamills
	email = stephmills468@gmail.com